<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <add name="MySql Data Provider" invariant="Mysql" support="FF" description=".Net Framework Data Provider for MySql" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Server=10.0.1.60;Database=EventStore;User Id=EventStoreUser;Password=EventStore2000;" />
    <add name="PostgreSql" providerName="Npgsql" connectionString="Server=10.0.1.60;Port=5432;Database=EventStore;User Id=EventStoreUser;Password=EventStore2000;" />
    <add name="MySql" providerName="Mysql" connectionString="Server=10.0.1.60;Database=EventStore;Uid=EventStoreUser;Pwd=EventStore2000;" />
    <add name="Raven" connectionString="Url=http://10.0.1.60:8080" />
    <add name="Mongo" connectionString="mongodb://local.dev/EventStore?safe=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.4349" newVersion="1.3.1.4349" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.4349" newVersion="1.3.1.4349" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EventStore" publicKeyToken="7735eb81c0bd9948" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>